# Default ignored files
#OFF /shelf/
#OFF /workspace.xml
# Editor-based HTTP Client requests
#OFF /httpRequests/
# Datasource local storage ignored files
#OFF /dataSources/
#OFF /dataSources.local.xml
